<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :joind_date, class: "label" %>
    <%= form.date_select :joind_date %>
  </div>

  <div class="field">
    <%= form.label "Eps", class: "label" %>
    <%= form.select :health_care, options_for_select(@eps_entities) %>
  </div>


  <div class="field">
    <%= form.label "Charge", class: "label" %>
    <%= form.grouped_collection_select :held_position_id, Dependency.order(:name_dependency), :held_positions,:name_dependency,:id, :name_position%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
