<div class="">
  <table class= "table is-striped is-hoverable has-text-black">
    <thead class="has-background-warning">
      <tr>
        <th>Code</th>
        <th>Full name</th>
        <th>Join date</th>
        <th>Held Position</th>
        <th>Dependency</th>
        <th>Eps</th>
        <th>Pension</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.id %></td>
          <td><%= employee.table_name.upcase %></td>
          <td><%= employee.join_date %></td>
          <td><%= employee.held_position.name_position %></td>
          <td><%= employee.held_position.dependency.name_dependency %></td>
          <td><%= employee.eps_entity.name_eps %></td>
          <td><%= employee.afp_entity.afp_name %></td>
          <td><%= link_to 'Pdf', employee_path(employee.id, format: :pdf) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
