<p id="notice"><%= notice %></p>
<h1>Employees</h1>
<h5><strong>Number of employees: </strong><%= @employees.count %></h3>

<%= form_with(url: '/employees/dependency', method: 'get', local: true) do |f| %>
  <%= f.label 'Dependency', class: 'label' %>
  <%= f.select :order_name, options_for_select(["ASC", "DESC"]) %>
  <%= f.submit 'Order' %>
<% end %>

<table class= "table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Full name</th>
      <th>Join date</th>
      <th>Held Position</th>
      <th>Dependency</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.full_name %></td>
        <td><%= employee.join_date %></td>
        <td><%= employee.held_position.name_position %></td>
        <td><%= employee.held_position.dependency.name_dependency %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Employee', new_employee_path %>
