<div class="container has-text-centered">
  <p id="notice"><%= notice %></p>
  <h1>Employees</h1>
  <h5><strong>Number of employees: </strong><%= @employees.count %></h5>
  <div class="control has-icons-left has-text-left">
    <%= form_with(url: '/employees/held_position', method: 'get', local: true) do |f| %>
      <%= f.label 'Dependency', class: 'label' %>
      <div class="select">
        <%= f.select :order_name, options_for_select(["ASC", "DESC","DEFAULT"]) %>
        <span class="icon is-left">
          <i class="fa fa-filter"></i>
        </span>
      </div>
      <%= f.submit 'Order', class: 'button is-black' %>
    <% end %>
  </div>
  <%= render 'table' %>
</div>

<%= link_to 'New Employee', new_employee_path %>
