<h5><strong>Number of employees: </strong><%= @employees.count %></h3>
<%= form_with(url: '/employees/pension', method: 'get', local: true) do |f| %>
  <%= f.label 'Name order', class: 'label' %>
  <%= f.select :order_name, options_for_select(["ASC", "DESC", "DEFAULT"]) %>
  <%= f.submit 'Order' %>
<% end %>

<%= render 'table' %>

<br>
