<div class="container has-text-centered">
  <h1>Employees</h1>
  <%= link_to 'Generate PDF', employees_path(format: :pdf), class: 'button is-normal is-link is-light' %>
  <div class="control has-icons-left has-text-left">
    <%= form_with(url: '/employees', method: 'get', local: true) do |f| %>
      <%= f.label 'Filter', class: 'label' %>
      <div class="select">
        <%= f.select :order, options_for_select(["ASC", "DESC", "DEFAULT"]) %>
        <span class="icon is-left">
          <i class="fa fa-filter"></i>
        </span>
      </div>
      <%= f.submit 'order', class:'button is-black' %>
    <% end %>
  </div>
  <%= render 'table' %>
  <div class="has-text-left">
    <h5>
      <strong>Number of employees: </strong><%= @employees.count %>
    </h5>
  </div>
</div>

