<p id="notice"><%= notice %></p>
<div class="container">
  <section class="hero is-warning ">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-black"><%= @employee.full_name %></h3>
          <hr class="navbar-divider">
          <div class="box">
            <form>
              <div class="field">
                <div class="control has-text-left">
                  <h4>Id: <%= @employee.id %></h4>
                  <h4>Join date: <%= @employee.join_date %></h4>
                  <h4>Held position: <%= @employee.held_position.name_position  %></h4>
                  <h4>Dependency: <%= @employee.held_position.dependency.name_dependency %></h4>
                  <h4>Eps: <%= @employee.eps_entity.name_eps %></h4>
                  <h4>Pension: <%= @employee.afp_entity.afp_name%></h4>
                  <h4>Salary: <%= @employee.salary%></h4>
                </div>
              </div>
              <%= link_to 'Back', employees_path, class: 'button is-link is-fullwidth' %>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>