 <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>

<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <%= image_tag("#{employee.held_position.name_position}.jpg", :alt => "rss feed", style: ' border-radius:150px;') %>
            </div>
            <br>
            <div class="name">
              <h3> <%= employee.full_name  %></h3>
              <h6><strong>Held Position: </strong><%= employee.held_position.name_position %></h6>
              <h6><strong>Dependency: </strong><%= employee.held_position.dependency.name_dependency %></h6>
              <h6><strong>Eps: </strong><%= employee.eps_entity.name_eps %></h6>
              <h6><strong>Arl: </strong><%= employee.afp_entity.afp_name %></h6>
              <h6><strong>Join date: </strong><%= employee.join_date %></h6>
              <h6><strong>Salary: </strong><%= employee.salary %></h6>
              <div class="field is-grouped " >
                <div class="control">
                  <h6><%= link_to 'Create novelty', new_novelty_path, class: 'button is-white' %></h6>
                </div>
                <div class="control">
                  <h6><%= link_to 'My novelties', novelties_path, class: 'button is-white'  %></h6>
                </div>
              </div>

              <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
