<div class="container is-max-desktop mt-6 animate__animated animate__flipInX" style="max-width: 800px">
        <div class="box">
            <div class="container is-max-desktop mt-6 " style="max-width: 700px;">
                <h1 class="title is-1" style="text-align:center">Log In</h1>
                <hr>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                    <%= f.label :email, class: 'label' %>
                    <div class="control">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
                    </div>
                </div>

                <div class="field">
                    <%= f.label :password, class: 'label'%>
                    <div class="control">
                        <%= f.password_field :password, autocomplete: "current-password" , class: 'input'%>
                    </div>
                </div>

                <% if devise_mapping.rememberable? %>
                <div class="field" style="text-align: center;">
                  <%= f.check_box :remember_me, class: 'radio' %>
                  <%= f.label :remember_me %>
                </div>
                <% end %>



                <div class="container is-half mt-3" style="text-align:center">
                    <%= f.submit "Log in", class: 'button is-black' %>
                </div>
                <div class="mt-4" style="text-align: center;">
                  <%= render "devise/shared/links" %>
                </div>

            <%end%>

        </div>
    </div>
